{{ define "main" }}
{{ $dateLayout := $.Site.Params.dateLayout | default ":date_long" }}
{{ $publishDate := .PublishDate }}
  <main id="main">
    <h1 class="page-heading mb-2">{{ .Parent.Title }} - {{ .PublishDate | time.Format $dateLayout }}</h1>
    <div class="font-miriam text-sm text-gray-500">
        <a href="{{ .Parent.RelPermalink }}">{{ print "<-- " .Parent.Title }}</a>
    </div>

    {{ partial "toc.html" . }}

    <article class="article-prose">
      {{ .Content }}
    </article>

    {{ with .Lastmod }}
      {{ if gt . $publishDate }}
        <p class="text-sm text-gray-500"><i>{{ T "last_updated" }} {{ . | time.Format $dateLayout }}</i></p>
      {{ end }}
    {{ end }}
  </main>
{{ end }}
