@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Miriam Libre';
        src: url('{{ "css/fonts/miriamlibre-bold.woff2" | relURL }}') format('woff2'), url('{{ "css/fonts/miriamlibre-bold.woff" | relURL }}') format('woff');
        font-weight: bold;
        font-style: normal;
    }

    a:hover {
        @apply text-red border-red;
    }
}

@layer utilities {
    .clip-polygon {
        clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
    }

    .display-none {
        display: none;
    }

    .display-unset {
        display: unset;
    }
}
