@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Miriam Libre';
        src: url('{{ "css/fonts/miriamlibre-bold.woff2" | relURL }}') format('woff2'), url('{{ "css/fonts/miriamlibre-bold.woff" | relURL }}') format('woff');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    a {
        cursor: pointer;
    }

    a:hover {
        @apply text-red border-red;
    }

    .hide-on-scroll {
        animation: hide 1.01s cubic-bezier(0,1,0,1);
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);
    }

    .hide-on-scroll:hover, .hide-on-scroll:focus-within {
        animation: none;
    }

    @keyframes hide {
        to {
            opacity: 0;
        }
    }
}

@layer components {
    .page-heading {
        @apply text-xl xl:text-2xl font-miriam
    }

    .article-prose {
        @apply prose dark:prose-invert
    }

    .gallery-image {
        @apply border-b-4 border-transparent cursor-pointer opacity-60
    }

    .gallery-image-selected {
        @apply border-black opacity-100 cursor-default !important
    }

    .gallery-image-hover {
        @apply hover:border-red hover:opacity-100
    }
}

@layer utilities {
    .clip-polygon {
        clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
    }

    .display-none {
        display: none;
    }

    .display-unset {
        display: unset;
    }
}
