{{ define "main" }}
<main id="main">
  <h1 class="page-heading">{{ .Title }}</h1>
  {{ $paginator := . }}
  {{ if $.Site.Params.paginatePosts }}
  {{ $paginator = .Paginate .Pages }}
  {{ end }}
  <ul class="patterns-list" id="list">
    {{ range $paginator.Pages }}
    <li>
      {{ if $.Site.Params.showPostSummaries }}
      <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      <div class="list-sub-section">
        <div class="date">
          {{ .PublishDate | time.Format $.Site.Params.dateLayout | default ":date_long" }}
        </div>
      </div>
      {{ .Summary }}
        {{ if .Truncated }}
        <span class="read-more">
          <a href="{{ .RelPermalink }}">
            <span>{{ T "read_more" }}</span>
            <svg stroke-width="3">
              <use href="#arrow-right" />
            </svg>
          </a>
        </span>
        {{ end }}
      {{ else }}
      <div class="posts-list-single">
        <div class="left"><span>{{ .PublishDate.Format "2006-01-02" }}</span></div>
        <div class="right"><a href="{{ .RelPermalink }}"><strong>{{ .Title }}</strong></a></div>
      </div>
      {{ end }}
    </li>
    {{ end }}
  </ul>
  {{ if $.Site.Params.paginatePosts }}
  {{ template "_internal/pagination.html" . }}
  {{ end }}
</main>
{{ end }}
