{{ define "main" }}
<main id="main">
  <h1 class="page-heading">{{ .Title }}</h1>
  {{ $paginator := . }}
  {{ if $.Site.Params.paginatePosts }}
  {{ $paginator = .Paginate .Pages }}
  {{ end }}
  <ul class="mt-8">
    {{ range $paginator.Pages }}
    <li class="mb-5">
      <div class="flex">
        <div class="font-mono text-base leading-8 text-gray-700 min-w-max"><span>{{ .PublishDate.Format "2006-01-02" }}</span></div>
        <div class="ml-5"><a class="border-b-[1px] border-b-black" href="{{ .RelPermalink }}"><strong>{{ .Title }}</strong></a></div>
      </div>
      {{ if $.Site.Params.showPostSummaries }}
        <p class="text-base border-l-4 pl-4 mt-1">
          {{ .Summary }}
        </p>
        {{ if .Truncated }}
        <span class="text-base inline-block w-full text-right mb-2">
          <a href="{{ .RelPermalink }}">
            <span>{{ T "read_more" }}</span>
            <svg class="w-4 h-4 inline" stroke-width="3">
              <use href="#arrow-right" />
            </svg>
          </a>
        </span>
        {{ end }}
      {{ end }}
    </li>
    {{ end }}
  </ul>
  {{ if $.Site.Params.paginatePosts }}
  {{ template "_internal/pagination.html" . }}
  {{ end }}
</main>
{{ end }}
