{{ define "main" }}
  <main id="main">
    <h1>{{ .Title }}</h1>
    <div class="date">
      {{ $dateLayout := $.Site.Params.dateLayout | default ":date_long" }}
      {{ $publishDate := .PublishDate }}
      {{ .PublishDate | time.Format $dateLayout }}
    </div>

    {{ partial "toc.html" . }}

    {{ .Content }}

    {{ with .Lastmod }}
    {{ if gt . $publishDate }}
    <p class="note plain gray"><i>{{ T "last_updated" }} {{ . | time.Format $dateLayout }}</i></p>
    {{ end }}
  {{ end }}
  </main>
{{ end }}
