<nav class="flex-auto overflow-auto mt-7 min-w-max {{ if eq (.Scratch.Get "hideNavOnSmall") true }}display-none md:display-unset{{ end }}" role="navigation">
  {{ $current := . }}
  <ul>
  {{ range .Site.Menus.nav }}
    <li class="inline-block md:block list-none leading-5">
      {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
      {{ $active = or $active (eq .Name $current.Title) }}
      {{ $active = or $active (and (eq .Identifier "posts") (eq $current.Section "posts")) }}
      {{ $active = or $active (and (eq .Identifier "photographs") (eq $current.Section "photographs")) }}
      {{ $active = or $active (and (eq .Identifier "dict") (eq $current.Section "dict")) }}
      {{ $active = or $active (and (eq .Identifier "tags") (eq $current.Section "tags")) }}
      <a href="{{ .URL | relLangURL }}"
          class="flex flex-nowrap items-baseline px-4 py-2 font-bold
          {{ if $active }}
            bg-black text-white hover:text-white dark:bg-half-white dark:text-black hover:dark:text-black clip-polygon
          {{ end }}">
        <svg class="h-3 w-3 mr-1 stroke-[4]" aria-hidden="true" focusable="false">
          <use href="#arrow-right"></use>
        </svg>
        <span class="ml-1">{{ .Name }}</span>
      </a>
    </li>
  {{ end }}
  </ul>
</nav>