{{ define "main" }}
<main id="main">
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  <div>
    <div class="photographs">
      {{ range $.Site.Data.photographs }}
      {{ if not .hidden }}
      {{ with $.Site.GetPage .slug }}
      <div class="photograph-item" tabindex="0">
        <a href="{{ .RelPermalink }}"><img src="{{ $.Site.Params.cdnUrl }}/{{ .Params.imagePreviewPath }}" class="photograph-image" alt="{{ .Params.body }}"></a>
      </div>
      {{ end }}
      {{ end }}
      {{ end }}
    </div>
  </div>
</main>
{{ end }}