{{ $src := .Get "src" }}
{{ $title := .Get "title" }}
{{ $mode := .Get "mode" }}
{{ $options := .Get "options" }}
{{ $numberedTitle := .Get "numberedTitle" | default false }}
{{ $withLink := .Get "withLink" | default false }}

{{ $original := .Page.Resources.GetMatch (printf "*%s*" $src) }}
{{ $new := "" }}

{{ if eq $mode "Fit" }}
  {{ $new = $original.Fit $options }}
{{ else if eq $mode "Fill" }}
  {{ $new = $original.Fill $options }}
{{ else if eq $mode "Resize" }}
  {{ $new = $original.Resize $options }}
{{ else }}
  {{ $new = $original }}
{{ end }}

<figure role="group" aria-describedby="caption-{{ $title | md5 }}">
  {{ if $withLink }}<a href="{{ $original.RelPermalink }}" class="img-link">{{ end }}
    <img src="{{ $new.RelPermalink }}">
  {{ if $withLink }}</a>{{ end }}
  <figcaption id="caption-{{ $title | md5 }}">
    {{if $numberedTitle }}<span class="title">{{ T "figure" }}</span>{{ end }}{{ $title | markdownify }}
  </figcaption>
</figure>
